<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syntepro.appbeneficiosbolivia"
    tools:ignore="LockedOrientationActivity">

    <application>

        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />
        <activity
            android:name=".ui.shop.ui.activities.MapDeliveryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.menu.EditProfileActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.coupon.CouponDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.coupon.AgencyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.coupon.AgencyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.CredentialsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:adjustViewBounds="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.beneficioslatam.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=101700091">     <!-- Replace the value of xxxx with the actual app ID applied, sourced from Service Details, HUAWEI Developer. -->
        </meta-data>

        <service
            android:name=".service.MyPushKitMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>